<nav class="navbar navbar-expand-lg navbar-dark bg-secondary">
  <div class="container">
      <a class="navbar-brand" href="#">/toDo List - Sistema de Gerenciamento de Tarefas</a>
      <button class="navbar-toggler" type="button" data-bs-
          toggle="collapse" data-bs-target="#navbarNav"
          aria-controls="navbarNav" aria-expanded="false" aria-
          label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
              <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#"
                      id="gerenciarTodosDropdown" role="button"
                      data-bs-toggle="dropdown" aria-expanded="false">
                      Gerenciar toDo's
                  </a>
                  <ul class="dropdown-menu" aria-
                       labelledby="gerenciarTodosDropdown">
                      <li><a class="dropdown-item" routerLink="todo-cadastro">
                           Cadastrar toDo's</a></li>
                      <li><a class="dropdown-item" routerLink="todo-consulta">
                          Consultar toDo's</a></li>
                  </ul>
              </li>

          </ul>
      </div>
  </div>
</nav>

<div class="container">


  <div class="card m-3">
      <div class="card-body">
          <!-- exibir o conteudo das demais páginas -->

          <router-outlet></router-outlet>
      </div>
  </div>


</div>
